﻿<div class="footer" style="background-color: #a12c2f; margin-top: 0;">
    <p style="color: white;">
        Copyright © 2024 Cookbook, Ltd. All Rights Reserved.
        Distibuted By: Some Random University Student
    </p>
</div>